<%= form_for data_logger do |form| %>
  <% if data_logger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_logger.errors.count, "error") %> prohibited this data_logger from being saved:</h2>

      <ul>
        <% data_logger.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :series %>
    <%= form.fields_for :series do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
