<h1><%= @data_logger.name %></h1>
<%= link_to 'Edit', edit_data_logger_path(@data_logger) %>

<input type="hidden" class="data_logger" data_logger_id="<%= @data_logger.id %>"/>

<div class="chart">
  <%= line_chart @data_logger.series.map(&:to_chart) %>
</div>


<div class="recent-panels-block">
  <% @data_logger.series.each do |series| %>
    <div class="recent-panel">
      <%= tag.div series.name, class: "series-name" %>
      <div class="recent-value" id="<%= "series-#{series.id}" %>">
        <%= series.most_recent_data %>
      </div>
    </div>
  <% end %>
</div>


<div class="form">
  <input type="text" id="operation-input"/>
  <button id="operation-button" type="button">
    transmit
  </button>
</div>

