<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @data_logger.name %>
</p>

<input type="hidden" class="data_logger" data_logger_id="<%= @data_logger.id %>"/>
<%= line_chart @data_logger.series.map { |series|
  series.to_chart
} %>


<div class="form">
  <input type="text" id="operation-input"/>
  <button id="operation-button" type="button">
    transmit
  </button>
</div>

<p>
<strong>Series:</strong>
<ul>
  <% @data_logger.series.each do |s| %>
    <li>
      <%= link_to(s.name, data_logger_series_path(@data_logger, s)) %>
      <input type="hidden" class="series" series_id="<%= s.id %>"></input>
    </li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_data_logger_path(@data_logger) %> |
<%= link_to 'Back', data_loggers_path %>
