<h1><%= @data_logger.name %></h1>

<input type="hidden" class="data_logger" data_logger_id="<%= @data_logger.id %>"/>

<div class="chart">
  <%= line_chart @data_logger.series.map(&:to_chart) %>
</div>


<div class="form">
  <input type="text" id="operation-input"/>
  <button id="operation-button" type="button">
    transmit
  </button>
</div>

<%= link_to 'Edit', edit_data_logger_path(@data_logger) %> |
<%= link_to 'Back', data_loggers_path %>
