<!DOCTYPE html>
<html>
  <head>
    <title>CloudLogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/top_navigation" %>
    <%= render partial: "layouts/side_menu" if user_signed_in? %>
    <%= render "layouts/notification" %>
    <div class="ground">
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
